.list-group {

    li.active {
        background-color: $primary-color;
        border-radius: 0;
        border: none;
        box-shadow: $shadow-1;
    }

    li.list-product {
        border: none;
        border-bottom: 1px solid rgba(0, 0, 0, 0.125);
        // border-top: 1px solid rgba(0, 0, 0, 0.125);
        margin: 3px 0;
    }
}